
<div class="full-page">
  <app-header  ></app-header>
<form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="formm">
  

  <div class="container content">
    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Nom </mat-label>
          <input matInput type="text" formControlName="nom" class="font" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Prenom </mat-label>
          <input matInput type="text" formControlName="prenom" class="font"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">CIN</mat-label>
          <input matInput type="text" formControlName="cin" class="font"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Adresse</mat-label>
          <input matInput type="text" formControlName="adresse" class="font"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Telephone</mat-label>
          <input matInput type="text" formControlName="telephone" class="font"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Username</mat-label>
          <input matInput type="text" formControlName="username" class="font"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Email</mat-label>
          <input matInput type="text" formControlName="email" class="font"/>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="formField">
          <mat-label class="labelt">Password</mat-label>
          <input matInput type="password" formControlName="password" class="font"/>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="bottomBorder">
    <div class="containerr">
      <mat-grid-list cols="2" rowHeight="16:1">
        <mat-grid-tile class="fullheight">
          <div class="center">
            <button
              mat-button
              class="blueButton"
              type="submit"
              value="Valider"
              [disabled]="!clientForm.valid"
            >
              Valider
            </button>
            <button mat-button class="blueButton" (click)="reset()">
              Rénitialiser
            </button>
            <button mat-button class="blueButton" routerLink="/clients">
              Annuler
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</form>
</div>
