.full-page {
  background-color: #141820;
  height: 100vh;
}
.center {
  text-align: center;
  margin-left: 0.8rem;
}
mat-label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.596);
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 1%;
}
.blueButton {
  background: #3f51b5;
  color: white;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 900;

  width: 200px !important;
  min-width: unset !important;
}
.importer {
  color: #3f51b5;
}
#New {
  color: gray;
}
.formField {
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

.content {
  border-radius: 5px;
  background-color: #21252d;
}

.error {
  font-size: small;
  color: red;
}
#description {
  padding-right: 2.5%;
  padding-left: 2.5%;
  width: 100%;
}

.fullheight {
  height: 100%;
}
